.env
node_modules
yarn-error.log

# Dist folder
dist/
# Lock files
package-*.json
*.lock

# IDEs Folders
.idea
.vscode

# Does not need to upload this folder
furniture-images/

# Jetbrains new IDE - Fleet
.fleet